.Main {
  margin-left: 1rem;
  width: 23rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 2rem;
}

.product {
  color: green;
  font-weight: 800;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

button {
  margin-left: 8px;
  font-size: 0.8rem;
  width: 80px;
  height: 30px;
  border: 2px solid rgb(145, 145, 245);
  background-color: rgb(205, 145, 245);
  cursor: pointer;
}
