.wrapper {
  width: 25rem;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  align-items: flex-start;
}

.item {
  font-size: 18px;
  font-weight: 600;
  margin: 5px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.listTitle {
  margin-left: 20px;
  color: darkblue;
}
.buttonDelete {
  width: 80px;
  height: 30px;
  border: 2px solid rgb(145, 145, 245);
  background-color: rgb(205, 145, 245);
  cursor: pointer;
}

.sorry {
  font-size: 26px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
